body {
    background-color: white;
    text-align: center;
    font-family: 'VT323', monospace;
  }

  h2 {
    font-size: 18px;
  }

  canvas {
    width: 600px;
    height: 480px;
    border: 1px solid black;
  }

 

  .social-links {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
  }

  .signin {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
  }

  .social-links img {
    width: 30px;
    height: 30px;
  }